{#-
  Expected context:
    rom: Rom object
    content: Main text as html
    toc: Table of contents from markdown-extra toc extension
#}
{%- extends "base.html" %}

{%- block head %}
<title>{{ rom.name }} ROM Documentation</title>
<style type="text/css">
{%- include "style.css" %}
</style>
{%- endblock %}

{%- block body %}
<nav id="sidebar">
  <a href="#top" class="toctitle">{{ rom.name }}</a>
  {{ toc | safe }}
</nav>
<main>
  <article id="content">
    {{ content | safe }}
  </article>
</main>
{%- endblock %}
