{#-
  Expected context:
    rom: rom object
    indexes: dict of indexes
    tables: dict of tables
    structures: rom structure registry

  (desired context: just the ROM, get everything else from there)
#}
{%- extends "base.html" %}
{%- from "macros.jinja" import datatable, mappingtable, structtable,
toclist, tablespecs %}

{%- block head %}
<style type="text/css">
{%- include "style.css" %}
{%- include "tables.css" %}
</style>
{%- endblock %}

{%- block body %}
<nav id="sidebar" class="toc">
<ol>
  <li><a href="#tables">Data Tables</a></li>
  <li><a href="#structs">Structure Type Formats</a></li>
  {{ toclist(rom.map.structs, 'struct') }}
  <li><a href="#dump">Data Dump by Entity</a></li>
  {{ toclist(rom.entities, 'entities') }}
  <li><a href="#raw">Data Dump by Table</a></li>
  {{ toclist(tables, 'table') }}
</ol>
</nav>
<main>
  <article id="content">
    <h1 id="top">{{ rom.name }}</h1>
    <h2 id="tables">Data Tables</h2>
    {{ mappingtable(rom.map.tables.values(), ["scroll"]) }}
    <h2 id="structs">Structure Type Formats</h2>
    {%- for name, struct in rom.map.structs.items() %}
    <h3 id="struct-{{ name }}">{{ name }}</h3>
    {{ structtable(struct, ["scroll"]) }}
    {%- endfor %}
    <h2 id="dump">Data Dump by Entity</h2>
    {%- for name, dataset in rom.entities.items() %}
    <h3 id="entities-{{ name }}">{{ name }}</h3>
    {{ mappingtable(dataset, ["scroll"]) }}
    {%- endfor %}
    <h2 id="raw">Data Dump by Table</h2>
    {%- for table in tables.values() %}
    {{ datatable(table) }}
    {%- endfor %}
  </article>
  {%- endblock %}
</main>
