body {
	margin: 0;
	padding: 0;
	display: grid;
	gap: 4em;
	grid:
		"sidebar content" 100vh
		/ auto 1fr;
}
#sidebar {
	grid-area: sidebar;
	background: linear-gradient(
		to right,
		rgba(240,240,240,0),
		rgba(240,240,240,.8),
		rgba(240,240,240,1)
		);
	padding: 4em;
}

main {
	grid-area: content;
	overflow: auto;
}

article {
	max-width: 100ch;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	margin: 5em 0;
}

caption {
	padding-bottom: 8px;
	font-weight: bold;
}

thead {
	font-weight: bold;
}

th { padding: 4px; }
td {
	padding: 4px;
	border: 1px solid grey;
}

.offset {color: green;}
.type   {color: darkgreen;}
